body{
    text-align: center;
    background-color:black;
}

img{
    margin-top: 30px;
    width:600px;
   height:500px;
}

ul,li{
    color:white;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 25px;
}

h2{
    text-decoration: underline;
    margin-top: 50px;
    color: white;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

h3{
    margin-top: 50px;
    color: white;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    
}

td,th{
    border: 3px solid darkslategray;
    text-align: center;
    color:black;
    font-style:inherit;
    padding: 15px;
}

th{
    background-color:bisque;
}

table{
    text-align: center;
    color:black;
    background-color:beige;
    width: 700px;
    height: 100px;
    border-collapse: collapse;
    margin-left: 400px;
    margin-right: 400px;
}

.Navigation ul{
    margin: 0px;
    padding: 0px;
    background-color:black;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    height: 36px;
    line-height: 36px;
    font-size: 25px;
}

.Navigation li{
    float:left;
    margin:0 ;
}

.Navigation a{
    display:block;
    padding: 0 28px;
    color:greenyellow;
    text-decoration: none;
}

.Navigation a:hover{
    background-color: blue;
}